<p>events-list works!</p>
<h3>Please enter your name</h3>
<input type="text" [(ngModel)]="name"/>

<table>
<tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
</tr>


<tr *ngFor="let e of EventListResult">
  
  <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
  >Fetch data</a>


    <td>

    <a routerLink="/event/{{e.id}}">{{ e.name }}</a>
    </td> 
  
    <td>{{ e.location }}</td>
    <td>{{ e.date }}</td>
    <td *ngIf="name != ''"><button (click)="AddFavorites(name, e)">Add To Favorites</button></td>
</tr>




</table>
 <br><br><br><br>
<app-favorite-list></app-favorite-list> 