/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


body {
  background-image: url("https://img.freepik.com/free-vector/bokeh-lights-glitter-background_1048-8548.jpg?w=1480&t=st=1694094923~exp=1694095523~hmac=030e26ce23d69f69d86e592cc5af82a3c1ce923cf76c879c3515103ed6bafe35");
  background-size: ;
}